.contacts{
    background: #FD9C42;
    color:white;
    padding:60px 0;
}
.contact_builder{
    right: 0;
    transform: translateY(-200px);
}
.contacts_data button{
    background: #007AC3;
    color:white;
    border-radius :10px;
    border:none;
}