.slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: slide-in 1s ease;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.card {
    margin-right: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.card_body{
    padding: 1rem !important;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #FD9C42;
}
.card_like{
    width: 30px;
    right: 0;
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 10px); /* 50% ширины слайда с учетом отступов */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 10px); /* 100% ширины слайда с учетом отступов */
    }
}